{{!-- WHEN I click on one of my existing posts in the dashboard
THEN I am able to delete or update my post and taken back to an updated dashboard --}}

<h1>Edit Post</h1>

<div class="mb-3">
  <label for="editPost-title" class="editPost-form">Title:</label>
  <textarea class="form-control" id="editPost-title" rows="1">{{post.title}}</textarea>
</div>
<div class="mb-3">
  <label for="editPost-contents" class="editPost-form">Content:</label>
  <textarea class="form-control" id="editPost-contents" rows="3">{{post.content}}</textarea>
</div>
<button type="submit" class="editPost-form btn btn-primary btn-lg">Update</button>
<button type="click" class="deletePost-btn btn btn-danger btn-lg" style="float:right;">Delete</button>


{{!-- <script src="/js/newPost.js"></script> --}}