{{! WHEN I click on the homepage option in the navigation
THEN I am taken to the homepage and presented with existing blog posts that include the post title and the date created }}

<!-- Loop over each object in the posts array -->

{{#each posts as |post| }}
<div class="card">
<div class="card-body">
  <a href="/post/{{post.id}}">
    <div>
      <p style="float:right;">Posted by <b>{{user.username}}</b> on {{format_date createdAt}}</p>
        <h3>{{post.title}}</h3>
    </div>
  </a>
</div>
</div>
{{/each}}