{{! WHEN I click on an existing blog post
THEN I am presented with the post title, contents, post creator’s username, and date created for that post and have the option to leave a comment 

WHEN I enter a comment and click on the submit button while signed in
THEN the comment is saved and the post is updated to display the comment, the comment creator’s username, and the date created}}

<div class="row mb-4 post">
    <div class="col-md-7">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Created by {{user.name}} on {{date_created}}</p>
    </div>
    {{#each post.comments as |comment|}}
    {{> comment}}
    {{/each}}
    <div class="col-md-7">
        <form class="form new-comment-form">
        <div class="form-group">
            <label for="new-comment">Leave a Comment: </label>
            <input class="form-input" type="text" id="new-comment" name="new-comment" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
</div>