* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 31, 31)
}

body {
    background-image: linear-gradient(to bottom right, rgb(255, 155, 125), 50%, rgb(255, 252, 244));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    background-color: rgba(255, 255, 255, 0.336);
    min-height: 100vh;
    width: 70%;
    margin-left: 30px;
    padding: 8px;
}

header {
    position: fixed;
    text-align: right;
    height: 5.5rem;
    right: 30px;
    color:rgb(255, 252, 244)
}

nav {
    font-size: 20px;
}

h1 {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    color: white;
}

h3 {
    font-size: 2rem;
    color:black;
    font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

a:hover {
    color: rgb(241, 241, 241);
}

.card {
    border: none !important;
    background-color: #fff9 !important;
    margin: 20px;
}

.login-card {
    padding: 20px;
}

.exit-btn {
    float: right;
    font-size: 2rem;
    font-weight: bold;
    color: black !important;
}